

html{
	width: 100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
}

.wraper{
	min-height: 100%;
	overflow: hidden;
}

header{
	background-color: rgb(140, 195, 75);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
	height: 90px;
	margin-bottom: 70px;
}

img.avatar{
	border-width: 1px;
	border-color: rgb(215, 215, 215);
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
	width: 64px;
	height: 64px;
	margin-right: 10px;
	margin-top: 10px;
}

.img, .field_contacts{
	display: inline-block;
	vertical-align: middle;
}

.name{
	font-size: 21px;
	color: rgb(255, 255, 255);
	text-align: left;
}

.email{
	font-size: 14px;
	color: rgba(255, 255, 255, 0.702);
	text-align: left;
}

h1, h2{
	text-align: center;
}

h1{
	font-size: 40px;
	margin-bottom: 15px;
}

h2{
	font-size: 22px;
	color: rgb(114, 114, 114);
	margin-bottom: 40px;
}

h3{
	font-size: 21px;
	margin-bottom: 10px;
}

h4{
	font-size: 22px;
	margin-bottom: 10px;
}

.desc p{
	color: rgb(114, 114, 114);
	margin-bottom: 20px;
}

label{
	color: #8c8d8c;
	font-size: 18px;
}

.field_left{
	float: left;
	margin-left: 140px;
}

.field_right{
	float: right;
	margin-right: 130px;
	margin-top: 30px;
}

li{
	vertical-align: middle;
	list-style: none;
	display: inline-block;
	margin-right: 20px;

}

.vk:hover{
	background-image: url(../img/vk_hov.png);
	background-repeat: no-repeat;
}

.sk:hover{
	background-image: url(../img/sk_hov.png);
	background-repeat: no-repeat;
}

.git:hover{
	background-image: url(../img/git_hov.png);
	background-repeat: no-repeat;
}

.container{
	width: 960px;
	margin: 0 auto;
}

.about{
	margin-bottom: 80px;
}

.about_me{
	margin-right: 15px;
}

.about_me__img, .my_skills__img{
	display: inline-block;
	width: 140px;
	height: 137px;
	margin-right: 20px;
	background-repeat: no-repeat;
	vertical-align: top;
}

.about_me__img{
	background-image: url("../img/about_me.png");

}

.my_skills__img{
	background-image: url("../img/my_skills.png");
}

.about_block{
	display: inline-block;
	width: 300px;
}

.blocks{
	display: inline-block;
	width: 465px;
	vertical-align: top;
}

.timeline{
	font-size: 14px;
	color: rgb(182, 182, 182);
}

.bg{
	background: url(../img/gplaypattern.png) repeat;
}

.courses{
	padding-top: 100px;
	margin-bottom: 72px;
}

.course_items{
	position: relative;
	background: #ffffff;
	display: inline-block;
	width: 300px;
	margin-bottom: 20px;
	margin-right: 15px;
	vertical-align: top;
	border-radius: 5px;
	border-width: 1px;
	border-color: rgba(182, 182, 182, 0.85);
	border-style: solid;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/*при наведении выводим бордер и подсвечиваем заголовок c небольшой анимацией*/
.course_items:hover:before{
	position: absolute;
	left: 0;
	right: 0;
	top: 164px;
	margin: auto;
	content: '';
	border: solid #8cc34b;
	transition: .5s;
}
.course_items:hover{
	color: #8cc34b;
	transition: .3s;
}
/* END при наведении выводим бордер и подсвечиваем заголовок c небольшой анимацией*/



/*при сабмите меняем фон и делаем прозрачность уже установленным фонам*/
.bg_done{
	opacity: 0.4;
}
.submit{
	background-color: rgb(236, 244, 227);
}
/* END при сабмите меняем фон и делаем прозрачность уже установленным фонам*/


/*сбрасываем с отступы от крайних правых блоков*/
.res{
	margin-right: 0;
}


.desc{
	padding: 12px;
}


.field_complete{
	background-color: rgb(246, 247, 242);
	padding: 20px;
}


footer{
	height: 72px;
	margin-top: -72px;
	background-color: rgb(33, 33, 33);
	box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
	color: #898989;
}

p.copiright{
	padding-top: 20px;
	text-align: center;
}